services:
  mongo_db:
    container_name: db_container
    image: mongo:latest
    ports:
      - "27017:27017"
    restart: always
    volumes:
      - mongo_data:/data/db

  api:
    build: .
    image: nodeapp
    ports:
      - "3000:3000"
    depends_on:
      - mongo_db

volumes:
  mongo_data: {}